body {
  overflow-x: hidden;
}

#root {
  width: 100%;

  max-width: 1440px;

  margin: 0 auto;

  padding: 2rem clamp(1rem, 5vw, 4rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.home-container {
  width: 100%;

  text-align: left;
}

.btn-primary {
  display: block;
  margin: 20px auto;
}
