*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: var(--color-background-light);
  font-family: "Poppins", sans-serif;
  color: var(--color-text-dark);
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  --color-primary: #d32f2f;
  --color-primary-dark: #b71c1c;
  --color-background-light: #f7f7f7;
  --color-background-dark: #2c2c2c;
  --color-text-dark: #222222;
  --color-text-light: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(211, 47, 47, 0.4);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 6px 8px rgba(211, 47, 47, 0.6);
}

.home-container {
  width: 100%;
  text-align: left;
}
